

html {
  font-size: 16px;
}
*{
  font-family: "Figtree", sans-serif !important;
}
.react-json-view *{
  font-family: monospace !important;
}

.App {
  text-align: center;
  margin-bottom: 0.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiGrid-container span {
  padding-left: 1rem;
}

.react-json-view span {
  padding-left: 1px;
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
  .MuiAvatar-root {
    width: 2rem !important;
    height: 2rem !important;
  }
  .MuiAccordionDetails-root {
    padding: 4px 8px 8px !important;
}.MuiCardContent-root {
  padding: 8px !important;
}
}
