html {
  overflow-y: scroll;
  scrollbar-width: thin;
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-color: hsla(0, 0%, 50%, 0.5) transparent;
}
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Courier, monospace;
}
.blue {
  color: #007bff;
  text-decoration: underline;
}

.react-json-view * {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.react-json-view .string-value {
  color: inherit;
  font-style: italic;
}

.MuiAccordionSummary-content .MuiGrid-container span {
  padding-left: 1rem;
}

.react-json-view span {
  padding-left: 1px;
}
.MuiAvatar-root {
  background-color: transparent !important;
  font-weight: bold;
  width: 2rem !important;
  height: 2rem !important;
}
.light-theme .MuiAvatar-root{
  color: #1976D2 !important;
  border:2px solid hsla(210, 79%, 46%, 1) !important;

}
.dark-theme .MuiAvatar-root{
  color: #65BAFF !important;
  border:2px solid hsla(207, 100%, 70%, 0.3) !important;

}

@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
  .MuiAccordionDetails-root {
    padding: 4px 8px 8px !important;
  }
  .MuiCardContent-root {
    padding: 8px !important;
  }
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
h2{
  margin-top: 0;
}
