

html {
  font-size: 16px;
}
*{
  font-family: "Figtree", sans-serif !important;
}
.react-json-view *{
  font-family: "Space Mono", monospace !important;
    font-weight: 700 !important;
  font-style: normal !important;
}
.react-json-view .string-value{  
  font-family: "Space Mono", monospace !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

.MuiAccordionSummary-content .MuiGrid-container span {
  padding-left: 1rem;
}

.react-json-view span {
  padding-left: 1px;
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
  .MuiAvatar-root {
    width: 2rem !important;
    height: 2rem !important;
  }
  .MuiAccordionDetails-root {
    padding: 4px 8px 8px !important;
}.MuiCardContent-root {
  padding: 8px !important;
}
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}